header {
    height: 55px;
}
/* SIDEBAR */
main {
    height: calc(100vh - 55px);
}
.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgba(4, 4, 173, 0.611);
    height: calc(100vh - 55px);
}
.main-section {
    background-color: blanchedalmond;
}
/* MAIN-SECTION */
.col-12 {
    background-color: blue;
}
.plus {
    border: 1px solid white;
}
.utility .top span {
    display: inline-block;
}
.utility a {
    text-decoration: none;
    color: white;
}
