header {
    height: 50px;
}
.fa-bell {
    color: orange;
    cursor: pointer;
}
/* SIDEBAR */
.sidebar {
    height: calc(100vh - 50px);
}
.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
    font-size: 12px;
}
.home:hover, .stats:hover, .signal:hover, .admin:hover {
    background-color: rgba(255, 255, 255, 0.284);
}
#mobile-logo, #desktop-logo {
    height: 40px;
}
/* MAIN-SECTION */
.main-section {
    background-color: #F8F9FA;
    height: calc(100vh - 50px);
    overflow-y: auto;
}
.utility {
    background-color: #1B72E8;
    font-size: 10px;
}
.add-plus {
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 10px;
}
.utility .top span {
    display: inline-block;
}
.utility a, .dropdown-menu a {
    text-decoration: none;
}
.offcanvas button {
    border-color: transparent;
}
.bluechart img {
    width: 100%;
}
.orange-logo {
    height: 20px;
    border-radius: 20px;
}
.status, .utility a {
    color: white;
}
td, .accordion-body, .todo span, .bluechart p, .bluechart span, .bluechart a {
    font-size: 11px;
}
.blue {
    background-color: #165BBA;
}
.green {
    background-color: green;
}
.yellow {
    background-color: #FFC107;
}
.red {
    background-color: red;
}
.fa-pen, .fa-trash {
    border: 1px solid gray;
    color: gray;
    font-size: 12px;
    padding: 3px;
}
.next-classes td:first-of-type {
    width: 70%;
}