/* header {
    height: 80px;
} */
.fa-bell {
    color: orange;
 }
/* SIDEBAR */
main {
    height: calc(100vh - 55px);
}
.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: rgba(4, 4, 173, 0.611);
    height: calc(100vh - 70px);
}
.home:hover, .stats:hover, .signal:hover, .admin:hover {
    background-color: rgba(255, 255, 255, 0.284);
}
#mobile-logo, #desktop-logo {
    height: 55px;
}
/* MAIN-SECTION */
.main-section {
    background-color: lightgray;
    height: calc(100vh - 55px);
    overflow-y: auto;
}
.utility {
    background-color: blue;
}
.add-plus {
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 10px;
}
.utility .top span {
    display: inline-block;
}
.utility a {
    text-decoration: none;
    color: white;
}
.bluechart img {
    width: 100%;
}
.orange-logo {
    height: 20px;
    border-radius: 20px;
}
.status {
    color: white;
}
td {
    font-size: 11px;
}
.green {
    background-color: green;
}
.yellow {
    background-color: orange;
}
.red {
    background-color: red;
}
.fa-pen, .fa-trash {
    border: 1px solid gray;
    color: gray;
    font-size: 12px;
    padding: 3px;
}

